[Bb]in
[Oo]bj
[Tt]est[Rr]esults
node_modules
[Tt]mp
.vs
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
NuGet.exe
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.dot[Cc]over
*.vsp
*.psess
*.orig
*.sln.ide
*.pdb
*.obj
[Dd]ebug
*.open*
[.vs]