@page "/inventories"
@inject NavigationManager NavigationMgr
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<h3>Inventory List</h3>
<br />

<ViewInventoriesComponent OnSearchInventories="OnSearchInventories"></ViewInventoriesComponent>

<br />

@if (inventories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var inv in this.inventories)
            {
                <InventoryItemComponent Inv="@inv"></InventoryItemComponent>
            }
        </tbody>
    </table>
}

<br/>
<button type="button" class="btn btn-primary" @onclick="AddInventory">Add Inventory</button>
<br />

@code {

    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        var invs = await ViewInventoriesByNameUseCase.ExecuteAsync();
        this.inventories = invs.ToList();
    }

    private void OnSearchInventories(List<Inventory> invs)
    {
        inventories = invs;
    }

    private void AddInventory()
    {
        NavigationMgr.NavigateTo("/addinventory");
    }
}
