<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sammvc5sportsstore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sammvc5sportsstore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>samMvc5SportsStore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$samMvc5SportsStore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sammvc5sportstore.database.windows.net,1433;Initial Catalog=mvc5sportstore_db;User ID=sportstore;Password=i*L0veSports" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SportsStore.Domain.Concrete.EFDbContext, SportsStore.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sammvc5sportstore.database.windows.net,1433;Initial Catalog=mvc5sportstore_db;User ID=sportstore;Password=i*L0veSports</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>